<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <app-stats></app-stats>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow border-0">
        <agm-map [(latitude)]="lat" [(longitude)]="lng" [(zoom)]="zoom" [disableDefaultUI]="true" [zoomControl]="true"
          [(fitBounds)]='viewport'>

          <agm-marker *ngFor="let marker of markers" [latitude]="marker['lat']" [longitude]="marker['lng']">
            <agm-info-window>
              <p>eTicket type: {{ marker.ticket.type }}</p>
              <!-- <a [href]="appUrl + '/eticket?id=' + marker.ticket.id">More info</a> -->
            </agm-info-window>
          </agm-marker>

        </agm-map>
      </div>
    </div>
  </div>
</div>