<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <app-stats></app-stats>
    </div>
  </div>
</div>

<div *ngIf="!isPaymentWindow" class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">eTickets</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Location</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
                <th scope="col">Vehicle</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let t of currentPageTickets">
                <th scope="row">
                  <div class="media align-items-center">
                    <a [href]="'/map?lat=' + t.lat + '&lng=' + t.lng" class="rounded-circle mr-3">
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{t.ticket.locationName}}</span>
                      </div>
                    </a>
                  </div>
                </th>
                <td>
                  €{{t.ticket.amount}} EUR
                </td>
                <td>
                  <div *ngVar="getStatus(t.id); let status" class="badge badge-dot mr-4">
                    <i [ngClass]="status == 'deleted' ? 'bg-warning' : status == 'paid' ? 'bg-primary' : 'bg-danger'"
                      ></i> {{status}}
                  </div>
                </td>
                <td>
                  {{t.ticket.vehicleRegistrationNumber}}
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{t.ticket.description}}
                  </div>
                </td>
                <td class="text-left">
                  <div placement="middle-left">
                    <button type="button" class="btn btn-primary noborder" (click)="payTicket(t.id)" [disabled]="t.ticket.isDeleted || t.ticket.isPaid">Pay</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li [class]="currentPage == 1 ? 'disabled' : ''" class="page-item">
                <button class="page-link" (click)="decreasePages()" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </button>
              </li>
              <li [class]="i == currentPage ? 'active' : ''" class="page-item" *ngFor="let i of pages">
                <button (click)="currentPage = i; loadCurrentPageItems()" class="page-link">{{i}}</button>
              </li>
              <li [class]="currentPage == pages.length ? 'disabled' : ''" class="page-item">
                <button (click)="increasePages()" class="page-link">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

  <div *ngIf="isPaymentWindow" class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header">
            <h3 class="mb-1">Ticket payment</h3>
            <button (click)="isPaymentWindow = false" class="btn btn-sm btn-primary"><i class="fas fa-arrow-left"></i> Back</button>
          </div>
          <div class="table-responsive">
            <app-payment [ticketId]="ticketToPayId"></app-payment>
          </div>
        </div>
      </div>
    </div>
  </div>