<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url({{backgroundPicture}} ); height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;">
  <!-- Mask -->
  <span class="mask bg-gradient-success opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-3 text-white">Hello {{currentUser?.authProviderUser?.username}}</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can change your personal information from here
        </p>
        <input #profileBackgroundImageFileUpload type="file" style="display:none"
          (change)="importBackgroundPicture($event)" />
        <button (click)="profileBackgroundImageFileUpload.click()" class="btn btn-info">Change background</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <input #profileImageFileUpload type="file" style="display:none" (change)="importProfilePicture($event)" />
              <a (click)="profileImageFileUpload.click()">
                <img [src]="currentUser.profilePictureUrl || currentUser?.authProviderUser?.picture"
                  class="rounded-circle">
                <p class="img__description">Edit</p>
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <div *ngIf="isLoading" class="loader-box">
              <div class="loader"></div>
            </div>
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">eTickets</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Vehicles</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{currentUser.firstName}} {{currentUser.lastName}} <span class="font-weight-light"> </span>
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>
              {{currentUser.city}}, {{currentUser.country}}
            </div>
            <div>
              <i
                class="ni education_hat mr-2"></i>{{currentUser?.authorities ? rolesMapping[currentUser?.authorities[0]?.authorityName] : ''}}
            </div>
            <hr class="my-4" />
            <p>{{currentUser.description}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">My account</h3>
            </div>
            <div class="col-4 text-right">
              <button (click)="authService.changePassword()" class="btn btn-sm btn-primary"
                title="We will send you email to chanage your password">Change Password</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">User information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Username</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative"
                      placeholder="Username" name="username" [(ngModel)]="currentUser?.authProviderUser.username">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email address</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative"
                      placeholder="Email" name="email" readonly [(ngModel)]="currentUser.email">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">First name</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative"
                      placeholder="First name" name="firstName" [(ngModel)]="currentUser.firstName">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Last name</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative"
                      placeholder="Last name" name="lastName" [(ngModel)]="currentUser.lastName">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Contact information</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Address</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Address"
                      name="address" [(ngModel)]="currentUser.address" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">City</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="City"
                      name="city" [(ngModel)]="currentUser.city">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Country</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative"
                      placeholder="Country" name="country" [(ngModel)]="currentUser.country">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Postal code</label>
                    <input type="number" id="input-postal-code" class="form-control form-control-alternative"
                      placeholder="Post code" name="postCode" [(ngModel)]="currentUser.postCode">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">About me</h6>
            <div class="pl-lg-4">
              <div class="form-group">
                <label>About Me</label>
                <textarea rows="4" class="form-control form-control-alternative" placeholder="About me"
                  name="description" [(ngModel)]="currentUser.description"></textarea>
              </div>
            </div>

            <button type="button" (click)="update()" class="btn btn-info">Save changes</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>