<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 600px;  background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-success opacity-8">
        <div class="back-button"><button (click)="goBack()" class="btn btn-sm btn-primary"><i
                    class="fas fa-arrow-left"></i> Back</button></div>
    </span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-10 col-md-10">

            </div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-12 col-md-12">
                <h1 class="display-2 text-white">eTicket support</h1>
                <h3 class="display-6 text-white">If you have any problems</h3>
                <h3 class="display-6 text-white">Constact us!</h3>
                <h3 class="display-6 text-white"><br></h3>
                <h3 class="text-white">Email: <a href="mailto:support@eticket.com">support@eticket.com</a></h3>
                <h3 class="text-white">Tel: <a href="tel:+35988888888">0888888888</a></h3>
            </div>
        </div>

        <!-- <div class="row pl-5 pt-3 pako">
            <div class="col-lg-12 col-md-12">
                <agm-map [(latitude)]="lat" [(longitude)]="lng" [(zoom)]="zoom" [disableDefaultUI]="true"
                    [zoomControl]="true" [(fitBounds)]='viewport'>
                    <agm-marker [latitude]="marker.lat" [longitude]="marker.lng">
                        <agm-info-window>
                            <p>{{ marker.markerName }}</p>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>
            </div>
        </div> -->
    </div>
</div>
<footer class="py-5">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2020 | Product of <a href="https://www.linkedin.com/in/martin-kostadinov-283848165/"
                        class="font-weight-bold ml-1" target="_blank">Martin Kostadinov</a>
                </div>
            </div>
            <div class="col-xl-6">
                <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                    <li class="nav-item">
                        <a href="https://www.linkedin.com/in/martin-kostadinov-283848165/" class="nav-link"
                            target="_blank">Martin
                            Kostadinov</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/MartinKostadinov1/eTicket/blob/master/LICENSE" class="nav-link"
                            target="_blank">License</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>