textarea {
    resize: none;
    height: 200px;
}

.fields-requirement {
    color: red;
    font-size: 14px;
}

.ngb-dp-week {
    background-color: white !important;
}

.ngb-dp-weekdays {
    background-color: white !important;;
}
